<!DOCTYPE html>
<html>
    <head>
        <title>Morse Code</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>

    <body>
        <div id="particles-js"></div>
        <div id="menu">
            <center><p class="title">Morse Code</p>
            </center>
        </div>     

        <script src="{{ url_for('static',filename='particles/particles.js') }}"></script>
        <script src="{{ url_for('static',filename='particles/app.js') }}"></script>
    </body>
</html>