<!DOCTYPE html>

<html>
    <head>
        <title>Conventionality</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>

    <body>
        <div id="particles-js"></div>
        <center><div id="menu">
            
            <p class="title">Conventionality</p>
            <p class="subtitle">A Website For <i>Your</i> Convenience</p>
            <div id="inner">
                <form>
                    <input type="button" onclick="window.location.href = '/calculator';" value="Calculator"/>
                    <input type="button" onclick="window.location.href = '/randomnum';" value="Random Number Gen"/>
                    <input type="button" onclick="window.location.href = '/currency';" value="Currency Converter"/>
                </form>
            </div>
            <div id="inner">
                <form>
                    <input type="button" onclick="window.location.href = '/color';" value="Color Picker"/>
                    <!--<input type="button" onclick="window.location.href = '/turn';" value="WTIS"/>-->
                    <input type="button" onclick="window.location.href = '/code';" value="Morse Code"/>
                </form>
            </div>
        </div></center>
        

             
        <script src="{{ url_for('static',filename='particles/particles.js') }}"></script>
        <script src="{{ url_for('static',filename='particles/app.js') }}"></script>
    </body>
</html>