<!DOCTYPE html>

<html>
    <head>
        <title>Conventionality</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    </head>

    <body>
        <p class="title">Conventionality</p>
        <input type="button" onclick="window.location.href = '/calculator';" value="Calculator"/>
        <input type="button" onclick="window.location.href = '/todo';" value="To-Do List"/>
        <input type="button" onclick="window.location.href = '/currency';" value="Currency Converter"/>
        <input type="button" onclick="window.location.href = '/color';" value="Color Picker"/>
        <input type="button" onclick="window.location.href = '/spell';" value="Spell Checker"/>
        <input type="button" onclick="window.location.href = '/downloader';" value="Youtube Downloader"/>
        <input type="button" onclick="window.location.href = '/code';" value="Morse Code"/>
    </body>
</html>