
.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
}

.subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
}

#menu {
    position: relative;
    display: block;
}

#calc {
    background-color: #6079c3
    opacity: 0.4;
}

#inner {
    padding-bottom: 25px;
}

#particles-js {
    width: 95%;
    height: 90%;
    position: absolute;
}

body {
    background-color: #0e4a62;
}

input {
    transition-duration: 0.4s;
    padding: 15px;
    margin: 15px;
    width: 300px;
    height: 75px;
    border: 5px solid #2E169D;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    background-color: #1B93C4;
    font-family: 'Ubuntu', sans-serif;
}

input:hover {
    background-color: #2E169D;
    border: 5px solid black;
}

input[type=radio] {
    transition-duration: 0.4s;
    padding: 15px;
    margin: 15px;
    width: 100px;
    height: 25px;
    border: 5px solid #2E169D;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    background-color: #1B93C4;
    font-family: 'Ubuntu', sans-serif;
}

.inputbox {
    transition-duration: 0.4s;
    padding: 15px;
    margin: 15px;
    width: 1000px;
    height: 500px;
    border: 5px solid #2E169D;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    background-color: #1B93C4;
    font-family: 'Ubuntu', sans-serif;
}
